<div class="flex justify-between items-center md:hidden">
  <span class="plusToggle block">
    {{ 'icon-plus.svg' | inline_asset_content }}
  </span>
  <span class="minusToggle hidden">
    {{ 'icon-minus.svg' | inline_asset_content }}
  </span>
</div>
