<div
  class="flex justify-center items-center lg:hidden lg:order-none"
>
  <span id="hamburgerMenu" class="block w-10 h-10">
    {{ 'icon-hamburger-menu.svg' | inline_asset_content }}
  </span>
  <span id="closeMenu" class="w-10 h-10 hidden">
    {{ 'icon-close.svg' | inline_asset_content }}
  </span>
</div>
