<p>404</p>
<h1 class="title">Page not found</h1>
<a href="{{ routes.all_products_collection_url }}" class="button"> Continue shopping </a>

{% schema %}
{
  "name": "404",
  "class": "error",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": []
}
{% endschema %}
