<section class="w-full h-fit py-12 lg:py-24">
  <div class="container px-4 flex flex-col justify-center items-center gap-20">
    <h1 class="text-3xl font-semibold">Page not found</h1>
    <a href="{{ routes.all_products_collection_url }}" class="button underline text-base"> Continue shopping </a>
  </div>
</section>

{% schema %}
{
  "name": "404",
  "class": "error",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "tag": "div",
  "limit": 1,
  "presets": [
    {
      "name": "404"
    }
  ],
  "settings": []
}
{% endschema %}
