<section class="announcement bg-black py-2 px-4" id="announcement">
  <div class="container lg:flex lg:justify-between lg:items-center">
    <div class="hidden lg:flex lg:justify-center lg:items-center lg:gap-3">
      {% render 'icon-socials' %}
    </div>
    <div>
      <a href="#" class="text-sm font-normal text-white text-center block">Welcome to our website </a>
    </div>
    <div
      class="hidden lg:text-base lg:flex lg:justify-center lg:items-center lg:gap-3 lg:w"
    >
      <div class="lg:w-24">
        <select class="text-white w-full" name="language" id="lang">
          <option class="" value="english">English</option>
          <option value="french">French</option>
          <option value="spanish">Spanish</option>
          <option value="german">German</option>
        </select>
      </div>
      <div class="lg:w-24 text-white">
        <select name="money" id="money">
          <option value="us">US Dollars $</option>
          <option value="cz">Czechia CZK kc</option>
          <option value="Eu">Euro €</option>
        </select>
      </div>
    </div>
  </div>
</section>
<!-- Announcement bar -->

{% schema %}
{
  "name": "Announcement bar",
  "class": "announcement_bar",
  "tag": "section",
  "enabled_on": { "groups": ["header"] },
  "limit": 1,
  "settings": [],
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}
