<footer
  style="background-color:{{ section.settings.footer_background_color }}"
  class="w-full h-fit {{ section.settings.footer_padding_top_bottom_small_screen }} {{ section.settings.footer_padding_top_bottom_large_screen }}"
>
  <div class="container flex flex-col justify-center items-center gap-10">
    <div class="w-full grid grid-cols-1 gap-6 md:grid md:grid-cols-4">
      <div
        class="w-full flex justify-center items-start flex-col gap-3 md:justify-start"
      >
        <div class="w-full flex justify-between items-center">
          <h6 class="text-2xl font-bold text-gray-950">Contact info</h6>
          <div class="flex justify-between items-center md:hidden">
            <span class="plusToggle block">
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M6 12H18M12 6V18"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </span>
            <span class="minusToggle hidden">
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M6 12L18 12"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </span>
          </div>
        </div>
        <div
          class="justify-center hidden duration-700 ease-in-out items-start flex-col gap-3 displayFooterContent md:flex"
        >
          <span class="text-lg font-normal text-gray-950">Find a location nearest you</span>
          <h6 class="text-lg font-bold text-gray-950">Hotline</h6>
          <span class="text-lg font-normal text-gray-950">(+00) 123 456 789</span>
          <h6 class="text-lg font-bold text-gray-950">Address:</h6>
          <span class="text-lg font-normal text-gray-950">512 Howard Street #19 San Francisco, CA 94103, USA</span>
        </div>
      </div>
      <div
        class="w-full flex justify-center items-start flex-col gap-3 md:justify-start"
      >
        <div class="w-full flex justify-between items-center">
          <h6 class="text-2xl font-bold text-gray-950">Quick Links</h6>
          <div class="flex justify-between items-center md:hidden">
            <span class="plusToggle block">
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M6 12H18M12 6V18"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </span>
            <span class="minusToggle hidden">
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M6 12L18 12"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </span>
          </div>
        </div>
        <div
          class="justify-center hidden items-start flex-col gap-3 displayFooterContent md:flex"
        >
          <span class="text-lg font-normal text-gray-950">My account</span>
          <span class="text-lg font-normal text-gray-950">Cart</span>
          <span class="text-lg font-normal text-gray-950">Whishlist</span>
          <span class="text-lg font-normal text-gray-950">Product compare</span>
        </div>
      </div>
      <div
        class="w-full flex justify-center items-start flex-col gap-3 md:justify-start"
      >
        <div class="w-full flex justify-between items-center">
          <h6 class="text-2xl font-bold text-gray-950">Information</h6>
          <div class="flex justify-between items-center md:hidden">
            <span class="plusToggle block">
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M6 12H18M12 6V18"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </span>
            <span class="minusToggle hidden">
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M6 12L18 12"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </span>
          </div>
        </div>
        <div
          class="justify-center hidden items-start flex-col gap-3 displayFooterContent md:flex"
        >
          <span class="text-lg font-normal text-gray-950">About us</span>
          <span class="text-lg font-normal text-gray-950">Terms & Conditions</span>
          <span class="text-lg font-normal text-gray-950">Privacy policy</span>
          <span class="text-lg font-normal text-gray-950">Refund policy</span>
          <span class="text-lg font-normal text-gray-950">Shipping & Delivery</span>
          <span class="text-lg font-normal text-gray-950">Terms & Conditions</span>
        </div>
      </div>
      <div
        class="w-full flex justify-center items-start flex-col gap-3 md:justify-start"
      >
        <div class="w-full flex justify-between items-center">
          <h6 class="text-2xl font-bold text-gray-950">Let's keep in touch</h6>
          <div class="flex justify-between items-center md:hidden">
            <span class="plusToggle block">
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M6 12H18M12 6V18"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </span>
            <span class="minusToggle hidden">
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M6 12L18 12"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </span>
          </div>
        </div>
        <div
          class="justify-center hidden items-start flex-col gap-3 displayFooterContent md:flex"
        >
          <span class="text-lg font-normal text-gray-950">Subscribe to our newsletter to receive updates</span>
          <div class="flex justify-center items-start flex-col gap-3">
            <input
              class="border py-2 px-3 rounded-lg"
              type="email"
              placeholder="Enter your email"
            >
            <button class="px-10 py-3 bg-black text-white rounded-full">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-full border-t border-gray-100 pt-10 flex justify-center items-start flex-col gap-3 sm:flex-row sm:justify-between"
    >
      <span>2024 Foesta. All rights reserved</span>
      <span>
        Build by
        <a class="underline text-black" href="#">Ezagrow Web development</a>
      </span>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "footer",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Footer color"
    },
    {
      "type": "color",
      "id": "footer_background_color",
      "label": "Footer background",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "footer_padding_top_bottom_small_screen",
      "label": "Footer padding top and bottom on small screen",
      "options": [
        {
          "label": "12px",
          "value": "py-3"
        },
        {
          "label": "16px",
          "value": "py-4"
        },
        {
          "label": "20px",
          "value": "py-5"
        },
        {
          "label": "24px",
          "value": "py-6"
        }
      ],
      "default": "py-6",
      "info": "These values apply only for the small screen"
    },
    {
      "type": "select",
      "id": "footer_padding_top_bottom_large_screen",
      "label": "Footer padding top and bottom on large screen",
      "options": [
        {
          "label": "28px",
          "value": "lg:py-7"
        },
        {
          "label": "32px",
          "value": "lg:py-8"
        },
        {
          "label": "36px",
          "value": "lg:py-9"
        },
        {
          "label": "40px",
          "value": "lg:py-10"
        },
        {
          "label": "44px",
          "value": "lg:py-12"
        }
      ],
      "default": "lg:py-12",
      "info": "These values apply only for the large screen"
    }
  ],
  "blocks": [
    {
      "name": "Footer headings",
      "type": "footer_headings",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "footer_headings",
          "label": "Footer heading",
          "default": "Footer heading",
          "info": "Write footer headings"
        }
      ]
    },
    {
      "name": "Contact info text",
      "type": "contact_info_text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "contact_info_text",
          "label": "contact info text",
          "default": "Find a location"
        }
      ]
    },
    {
      "name": "Contact info phone",
      "type": "contact_info_phone",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "contact_info_phone_text",
          "label": "contact info phone text",
          "default": "Hotline"
        },
        {
          "type": "text",
          "id": "contact_info_phone",
          "label": "contact info phone number",
          "default": "(+00) 123 456 789"
        }
      ]
    },
    {
      "name": "Contact info address",
      "type": "contact_info_address",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "contact_info_address_heading",
          "label": "contact info address text heading",
          "default": "Address"
        },
        {
          "type": "text",
          "id": "contact_info_address",
          "label": "contact info address body",
          "default": "512 Howard Street #19 San Francisco, CA 94103, USA"
        }
      ]
    },
    {
      "name": "Information link",
      "type": "information_link",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "information_link_text",
          "label": "Text",
          "placeholder": "Ex: About us",
          "info": "Enter informational link"
        },
        {
          "type": "url",
          "id": "information_link_url",
          "label": "URL"
        }
      ]
    },
    {
      "name": "Quick link",
      "type": "quick_link",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "quick_link_text",
          "label": "Text",
          "placeholder": "Ex: About us",
          "info": "Enter quick link"
        },
        {
          "type": "url",
          "id": "quick_link_url",
          "label": "URL"
        }
      ]
    },
    {
      "name": "Subscription text",
      "type": "subscription_text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "contact_info_address_heading",
          "label": "contact info address text heading",
          "default": "Address"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "settings": {}
    }
  ]
}
{% endschema %}
